.cabecalho_menu-hamburguer {
    largura : 24px ;/*largura*/
    altura : 24px ;/*altura*/
    cor de fundo : url ( Menu.svg );/*imagem de fundo*/
    exibição : bloco embutido ; /**/
   
    }
    .cabecalho {
    background-color: white;
        display: flex;
        justify-content: space-between;/*espaco entre os itens*/
        align-items: center;
    }
    .container{
        display: flex;
        align-items: center;
    }
    .container__imagem{
            padding: 1em;
    }