.cabecalho_menu-hamburguer {
    width: 24 px;
    height: 24 px;
    background-image:url (menu.svg);
    background-repeat: no-repeat; /**/
    background-position: center;
    display: inline-block;
}
.cabecalho {
    background-color: var(white);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
.container-imagem{
    padding:  1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked~.lista-menu {
    display: block;
}
